<header class="bp-header cf">
	{% if page.title == null %}
		<span>{{ site.title }} 
			<!--<span class="bp-icon bp-icon-about" id="site-info-button"  data-content="{{ site.info }}"></span> -->
		</span>
		<div id="site-info">{{ site.info }}</div>
		<h1>{{ site.message }}</h1>
		<nav>
			<a class="bp-icon bp-icon-child" id="hire_me_button" data-info="About Me"><span>About Me</span></a>
			<!-- <a href="{{ site.twitter_username | prepend: "https://twitter.com/" }}" class="bp-icon bp-icon-twitter" data-info="@{{ site.twitter_username }}" target="_blank"><span>@{{ site.twitter_username }}</span></a> -->
			
			<!-- <a href="mailto:{{ site.email }}" class="bp-icon bp-icon-email" data-info="send me e-mail"><span>send me e-mail</span></a> -->
			<!-- <a href="https://www.getdrip.com/forms/20013223/submissions/new" data-drip-show-form="20013223" class="bp-icon bp-icon-email" data-info="Contact Me"><span>Contact Me</span></a>-->
			<script src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
<script>
  var myLandbotLivechat = new LandbotLivechat({
    index: 'https://landbot.io/u/H-93884-UP17PQ7TIDPICM3O/index.html',
  });
</script>


		</nav>
	{% endif %}
</header>