<!DOCTYPE html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62883912-2', 'auto');
  ga('send', 'pageview');

</script>

<html>

  {% include head.html %}

  <body>
     <!-- Drip  from default.html-->
    <script type="text/javascript">
      var _dcq = _dcq || [];
      var _dcs = _dcs || {}; 
      _dcs.account = '3701749';
      
      (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript'; dc.async = true; 
        dc.src = '//tag.getdrip.com/3701749.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
      })();
    </script>
      <div class="container">
          {% include header.html %}

          {{ content }}


      </div>

      <section class="content">
      </section>

      {% if page.title == null %}
          <section class="profile">

              <div style="position: relative;z-index: 1000;" id="profile_card_parent">
                  <div class="card hovercard" id="profile_card">
                      <a class="bp-icon bp-icon-close" id="close_profile"><span></span></a>
                      <div class="cardheader" style="background: url('{{ site.author.header_bg | prepend: site.baseurl }}') no-repeat center">

                      </div>
                      <div class="avatar">
                          <img alt="" src="{{ site.author.avatar | prepend: site.baseurl }}">
                      </div>
                      <div class="info">
                          <div class="title">
                              <a target="_blank" href="{{ site.author.url }}">{{ site.author.name }}</a>
                          </div>
                          <div class="desc">{% markdown %}{% include profile_description.md %}{% endmarkdown %}</div>
                      </div>
                      <div class="bottom">
                          <!-- <a class="btn btn-primary btn-twitter btn-sm" href="mailto:{{ site.author.email }}"> -->
                          <a class="btn btn-primary btn-twitter btn-sm" href="/action#landbot-1570399458560" >
                              Let's Talk
                          </a>
                      </div>
                  </div>
              </div>

          </section>
      {% endif %}




    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
  	<script src="{{ "/js/dynamics.min.js" | prepend: site.baseurl }}"></script>
  	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

   
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </body>


</html>
